.header {
  padding: 20px 0;
  width: 100%;
  position: fixed;
  top: 0px;
  left: 0px;
  z-index: 100;
}

.menuContainer {
  display: flex;
  align-items: center;
}

.fullscreen.active .link {
  color: #111;
}

.wrapper {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

// Логотип
.logo {
  display: inline-block;
  position: relative;
}

.logoImg {
  position: relative;
  z-index: 5;
}

.logoBackground {
  position: absolute;
  left: 50%;
  top: 48%;
  transform: translateX(-50%) translateY(-50%);

  display: block;

  width: 110%;
  height: 110%;

  background: #fff;
  border-radius: 50%;
  opacity: 1;

  transition: 0.4s;
  z-index: 0;
}
// Логотип

// Меню
.list {
  margin: auto;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.item {
  list-style: none;

  transition: 0.2s;
}

.link:hover {
  // background: #6cb71d;
  background: #e83028;
}

.item:hover .link {
  color: #fff;
}

.link {
  display: block;
  margin: 0px;
  margin-right: 15px;
  padding: 18px 22px;
  color: #111;
  background: #fff;
  text-decoration: none;
  font-size: 18px;
  box-sizing: border-box;
  border-radius: 50px;
  font-size: 20px;
  font-weight: 500;
  transition: 0.4s;
}

// Меню

// Мобильное меню
.toggle.toggleDesktop {
  display: block;
  padding: 18px 22px;

  position: relative;
  font-size: 20px;
  border-radius: 50px;
  background: #fff;
  font-weight: 500;
  cursor: pointer;
  z-index: 10;

  transition: 0.2s;
}

.toggle.toggleDesktop.active {
  background: #e83028;
  color: #fff;
}

.fullscreen {
  width: 100%;
  height: 100%;
  visibility: visible;
  opacity: 1;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}
// Мобильное меню

.button {
  padding: 14px;
  font-size: 18px;
}

.button::after {
  left: -32px;
}

.button::before {
  top: -1px;
  right: -50px;
  height: 105%;
}

.toggleMobile {
  display: none;
}

.mobile {
  display: none;
}

@media screen and (min-width: 0px) and (max-width: 1450px) {
  .link {
    padding: 16px 16px;
    font-size: 16px;
  }

  .toggle.toggleDesktop {
    padding: 16px 20px;
    font-size: 16px;
    background: #fff;
    color: #111;
  }
}

@media screen and (min-width: 0px) and (max-width: 1050px) {
  .link {
    font-size: 14px;
  }

  .toggle.toggleDesktop {
    font-size: 14px;
  }
}

@media screen and (min-width: 0px) and (max-width: 875px) {
  .wrapper {
    margin-left: 0;
    margin-right: 0;
  }

  .logoImg {
    width: 60px;
    height: 60px;
  }

  .list {
    display: flex;
    height: auto;
    flex-direction: column;
    padding: 0;
    margin: 0;
    margin: auto;
    font-weight: 600;
    list-style: none;
    text-transform: uppercase;
    // opacity: 0;
  }

  .contact {
    display: none;
  }

  .toggleMobile {
    display: block;
  }

  .mobile {
    display: block;
  }

  .toggle.toggleDesktop {
    display: none;
  }

  .toggle.toggleMobile {
    padding: 8px 15px;
    border-radius: 18px;
    line-height: 24px;
    // display: none;

    position: relative;
    font-size: 16px;
    border-radius: 50px;
    background: #fff;
    font-weight: 500;
    cursor: pointer;
    z-index: 10;

    transition: 0.2s;
  }

  .toggle.active {
    background: #111;
    color: #fff;
  }

  .fullscreen {
    right: 60px;
    top: 85px;
    left: unset;
    height: auto;
    width: auto;
    position: absolute;
    // visibility: hidden;
    // opacity: 0;

    z-index: 20;
  }

  // .fullscreen.active .list {
  //   opacity: 1;
  // }

  // .fullscreen.active {
  //   opacity: 1;
  //   visibility: visible;
  // }

  .list {
    align-items: end;
  }

  .item {
    padding: 0px;
    margin: 0px;
    margin-bottom: 15px;
  }

  .active .item {
    opacity: 1;
    transform: translateX(0);
  }

  .link {
    margin: 0px;
    color: #111;
    font-size: 16px;
    font-weight: 500;
    padding: 10px 15px;
    background: #fff;

    box-sizing: border-box;
    border-radius: 20px;
    text-transform: initial;
  }

  .fullscreen.active .link {
    color: #111;
  }
  /* Выпадающее меню */
}

@media screen and (min-width: 0px) and (max-width: 550px) {
  .fullscreen {
    right: 20px;
  }
}

/* menu */
