.block {
  max-width: 1950px;
  height: 100vh;
  width: 100%;

  position: absolute;
  left: 50%;
  transform: translateX(-50%);

  display: flex;
  flex-direction: row;
  justify-content: space-between;
  z-index: -1;
}

.imageContainerRight {
  position: relative;
  right: 65px;
}

.imageContainerLeft {
  position: relative;
  top: 100px;
  left: 25px;
  display: inline-block;
  width: fit-content;
  z-index: 50;
}

.imageContainerRight .image {
  width: 210px;
  height: 210px;
}

@media screen and (min-width: 0px) and (max-width: 1000px) {
  .imageContainerLeft .image {
    width: 120px;
    height: 120px;
  }

  .imageContainerRight .image {
    width: 120px;
    height: 120px;
  }
}

@media screen and (min-width: 0px) and (max-width: 550px) {
  .imageContainerLeft {
    top: 850px;
    left: 205px;
  }

  .imageContainerRight {
    position: relative;
    top: 580px;
    right: 25px;
  }

  .imageContainerLeft .image {
    width: 75px;
    height: 75px;
  }

  .imageContainerRight .image {
    width: 75px;
    height: 75px;
  }
}
