.block {
  width: 100%;
  position: absolute;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  z-index: 10;
}

.imageContainerLeft {
  position: relative;
  left: 25px;
  display: inline-block;
  width: fit-content;
}

.imageContainerRight {
  position: relative;
  top: -50px;
  right: 50px;
  display: inline-block;
  width: fit-content;
}

.imageContainerCenter {
  position: relative;
  top: -50px;
  right: 50px;
  display: inline-block;
  width: fit-content;
}

.image {
  object-fit: contain;
  object-position: center;
}

@media screen and (min-width: 0px) and (max-width: 1000px) {
  .imageContainerLeft {
    left: 50px;
  }

  .imageContainerCenter {
    top: 0px;
  }

  .imageContainerRight {
    top: 450px;
  }

  .imageContainerLeft .image {
    width: 120px;
    height: 120px;
  }

  .imageContainerRight .image {
    width: 120px;
    height: 120px;
  }

  .imageContainerCenter .image {
    width: 90px;
    height: 90px;
  }
}

@media screen and (min-width: 0px) and (max-width: 550px) {
  .imageContainerLeft {
    top: -140px;
    left: 10px;
  }

  .imageContainerRight {
    position: relative;
    top: 680px;
    right: 10px;
  }

  .imageContainerCenter {
    top: 940px;
    left: -120px;
  }

  .imageContainerLeft .image {
    width: 95px;
    height: 95px;
  }

  .imageContainerRight .image {
    width: 75px;
    height: 75px;
  }
}
