.block {
  width: 100%;
  z-index: 10;
}

.imageContainerLeft {
  position: absolute;
  top: 300px;
  right: 10%;
  display: inline-block;
  width: fit-content;
  z-index: 30;
}

.imageContainerRight {
  position: absolute;
  top: 0px;
  right: 10%;
  display: inline-block;
  width: fit-content;
  z-index: 30;
}

.imageContainerCenter {
  position: absolute;
  right: 45%;
  display: inline-block;
  width: fit-content;
  z-index: 30;
}

.image {
  object-fit: contain;
  object-position: center;
}

@media screen and (min-width: 0px) and (max-width: 1000px) {
  .imageContainerLeft {
    left: 50px;
  }

  .imageContainerCenter {
    top: 0px;
  }

  .imageContainerRight {
    top: 450px;
  }

  .imageContainerLeft .image {
    width: 120px;
    height: 120px;
  }

  .imageContainerRight .image {
    width: 120px;
    height: 120px;
  }

  .imageContainerCenter .image {
    width: 90px;
    height: 90px;
  }
}

@media screen and (min-width: 0px) and (max-width: 550px) {
  .imageContainerLeft {
    top: 0px;
    left: 10px;
  }

  .imageContainerRight {
    position: relative;
    top: 780px;
    right: -15px;
  }

  .imageContainerCenter {
    top: 340px;
    right: 20px;
  }

  .imageContainerLeft .image {
    width: 100px;
    height: 100px;
  }

  .imageContainerRight .image {
    width: 75px;
    height: 75px;
  }
}
