.about {
  margin: 0px;
  padding-top: 0px;
  padding-bottom: 120px;
}

.aboutTitle {
  margin-bottom: 35px;
  margin: 0px;
  font-size: 32px;
  color: #333333;
}

.titleContainer {
  margin-bottom: 50px;
}

.aboutText {
  font-size: 16px;
  max-width: 800px;
  margin-bottom: 50px;
  line-height: 20px;
}

.aboutList {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 0;
  flex-wrap: wrap;
}

.aboutItem {
  max-width: 305px;
  padding: 0;
  margin: 0;
  align-items: center;
  text-align: center;
  display: flex;
  flex-direction: column;
  list-style: none;
}

.aboutItemImg {
  position: relative;
  margin-top: 5px;
  margin-right: 0px;
  margin-bottom: 25px;
  min-height: 275px;
  min-width: 250px;

  // background-image: url("../../../public/img/buttons/button-orange.svg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
}

.aboutItem:nth-child(1) .aboutItemImg {
  background-image: url("../../../public/img/about/icon-1.svg");
}

.aboutItem:nth-child(2) .aboutItemImg {
  background-image: url("../../../public/img/about/icon-2.svg");
}

.aboutItem:nth-child(3) .aboutItemImg {
  background-image: url("../../../public/img/about/icon-3.svg");
}

.aboutItemContentContain {
  display: flex;
  flex-direction: column;
}

.aboutItemContentTitle {
  margin: 0;
  margin-bottom: 7.5px;
  font-size: 18px;
}

.aboutItemContentText {
  padding: 0px;
  margin: 0px;
  margin-bottom: 10px;
  font-family: "Comic-cat";
  font-size: 22px;
  line-height: 28px;
}

@media screen and (min-width: 0px) and (max-width: 1420px) {
  .about {
    padding-bottom: 60px;
  }

  .aboutItem {
    max-width: 400px;
    margin-bottom: 35px;
    width: 50%;
  }
}

@media screen and (min-width: 0px) and (max-width: 760px) {
  .aboutItem {
    margin-bottom: 25px;
    width: 100%;
    max-width: unset;
  }
}

@media screen and (min-width: 0px) and (max-width: 720px) {
  .about {
    padding-top: 0px;
    padding-bottom: 10px;
  }

  .aboutTitle {
    margin-bottom: 30px;
    font-size: 24px;
    color: #333333;
  }

  .aboutText {
    margin-bottom: 40px;
  }

  .aboutItemContentText {
    margin: 0;
    font-size: 16px;
    line-height: 24px;
    color: #333333;
  }

  .aboutItemContentTitle {
    margin: 0;
    margin-bottom: 7.5px;
  }

  .aboutItemImg {
    margin-top: 5px;
    margin-right: 25px;
    background-repeat: no-repeat;
    background-position: center;
  }
}
