.videoPopup {
  display: flex;

  position: fixed;
  width: 100%;
  height: 100%;
  left: 0px;
  top: 0px;
  z-index: 300;
  background: #000000;
}

.videoPopupOverlay {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background: #000;
  z-index: 1;
}

.videoPopupButton {
  position: absolute;

  right: 30px;
  top: 30px;
  width: 55px;
  height: 55px;
  border: none;
  background-color: unset;

  background-image: url("../../../public/img/videoPopup/close-button.svg");
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;

  z-index: 10;

  cursor: pointer;

  transition: 0.2s;
}

.videoPopupButton:hover {
  transform: scale(1.1);
}

.videoPopupButton:active {
  transform: scale(0.8);
}

.videoPopupPlayer {
  position: relative;
  margin: auto;
  width: 82.5vw !important;
  height: 82.5vh !important;
  background: #000000;
  min-height: 600px;

  border-radius: 15px;
  overflow: hidden;

  z-index: 5;
}

.videoPopupPlayer::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  filter: blur(75px);
  background-color: #1f1f1f;
  animation: skeleton-background 1.5s ease-in-out infinite;
  z-index: -1;
}

@keyframes skeleton-background {
  0% {
    transform: translateX(-100%);
  }
  50% {
    transform: translateX(100%);
  }
  100% {
    transform: translateX(100%);
  }
}

@media screen and (min-width: 0px) and (max-width: 900px) {
  .videoPopupPlayer {
    position: relative;
    margin: auto;
    width: 100% !important;
    background: #000000;

    border-radius: 0px;
    overflow: hidden;

    z-index: 5;
  }

  .videoPopup {
    background: rgba(0, 0, 0, 1);
  }

  .videoPopupOverlay {
    background: rgba(0, 0, 0, 1);
  }

  .videoPopupButton {
    right: 25px;
    top: 25px;
  }
}

@media screen and (min-width: 0px) and (max-width: 680px) {
  .videoPopupPlayer {
    position: relative;
    margin: auto;
    width: 100% !important;
    min-height: 350px;
    background: #000000;

    border-radius: 0px;
    overflow: hidden;

    z-index: 5;
  }
}
