.cardProduct {
  position: relative;
  padding-bottom: 150px;
  z-index: -3;
}

.cardProductWrapper {
  position: relative;
  overflow: unset;
}

.threeObjectContainer {
  top: 50px;
  position: sticky;
  width: 700px;
  height: 700px;
}

.cardProductTitle {
  color: #fff;
  font-weight: 600;
  text-transform: uppercase;
  line-height: 32px;
  z-index: 10;
}

.cardProductDescription {
  margin-top: 75px;
}

.cardProductBlock {
  margin-bottom: 40px;
  color: #fff;
}

.cardProductMainTitle {
  margin-bottom: 40px;
  max-width: 700px;
  font-size: 62px;
  line-height: 70px;
  font-family: Gant;
  font-weight: 100;
  color: #fff;
  text-shadow: 1px 1px 8px rgb(0 0 0 / 15%);

  animation-name: showText;
  animation-delay: 0.1s;
  animation-duration: 1.8s;
  animation-fill-mode: both;
}

@keyframes showText {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

.cardProductMain {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.cardProductDescription {
  max-width: 550px;
}

@keyframes showText {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

.cardProductTextNumber {
  margin: 0px;
  padding: 0px;
  font-size: 16px;
  color: #fff;
}

.cardProductText {
  color: #fff;
  font-size: 18px;
  line-height: 30px;
}

.cardProductList {
  padding: 0px;
  margin: 0px;
  list-style: none;
}

.cardProductItem {
  position: relative;
  padding: 0px;
  padding-left: 28px;
  margin: 0px;
  margin-bottom: 10px;
  font-size: 18px;
  line-height: 30px;
}

.cardProductItem::after {
  content: "—";
  position: absolute;
  left: 0px;
  top: 13px;
  transform: translateY(-50%);
}

.cardProductWeightContainer {
  margin-bottom: 20px;
  color: #fff;
  font-size: 18px;
  font-weight: 500;
}

.cardProductMain {
  padding-top: 175px;
}

.cardProductWeightNumber,
.cardProductWeightText {
  font-size: 55px;
  font-family: Corinthia;
}

@media screen and (min-width: 0px) and (max-width: 1450px) {
  .cardProduct {
    padding-bottom: 100px;
  }
}

@media screen and (min-width: 0px) and (max-width: 850px) {
  .threeObjectContainer {
    margin-bottom: 50px;
    top: 50px;
    position: sticky;
    width: 350px;
    height: 350px;
  }

  .cardProduct {
    padding-bottom: 0px;
    height: auto;
    max-height: unset;
  }

  .cardProductMain {
    padding-top: 90px;
    align-items: center;
  }

  .cardProductMainTitleContainer {
    padding-top: 100px;
  }

  .cardProductMainTitle {
    text-align: center;
    margin: auto;
    margin-bottom: 30px;
    max-width: 700px;
    font-size: 60px;
    line-height: 50px;
  }

  .cardProductMain {
    display: flex;
    flex-direction: column;
  }

  .cardProductDescription {
    max-width: 400px;
  }
}
