/* footer */
.footer {
  position: relative;
  padding-top: 75px;
  padding-bottom: 75px;
}

.footer.white {
  background: #fff;
}

.footer.white::before {
  background-image: url("../../../public/img/footer/decorative-white.webp");
}

.headerTopLogo {
  display: block;
  width: 190px;
  height: 190px;
  background-image: url("../../../public/img/header/logo.svg");
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
  border-radius: 50%;
  transition: 0.2s;
  z-index: 300;
}

.footer::before {
  content: "";
  position: absolute;
  left: 0;
  top: -79px;
  background-image: url("../../../public/img/footer/decorative.webp");
  height: 80px;
  width: 100%;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center top;
  z-index: 1;
}

.footerWrapper {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.footerTitle {
  padding: 0;
  margin: 0;
  margin-bottom: 50px;
  position: relative;
  font-family: "Gant";
  font-weight: 400;
  line-height: 50px;
  text-transform: uppercase;
  color: #111;
}

.footerMenuList {
  padding: 0;
  margin: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
}

.footerMenuItem {
  position: relative;
  padding: 0;
  padding-left: 18px;
  margin-bottom: 20px;
  font-size: 15px;
  list-style: none;
}

.footerMenuLink:hover {
  color: #868686;
}

.footerMenuItem::after {
  content: "";
  position: absolute;
  top: 50%;
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
  left: 0;
  width: 8px;
  height: 8px;
  background: rgb(113, 188, 2);
  border-radius: 50%;
  -webkit-transition: 0.2s;
  -o-transition: 0.2s;
  transition: 0.2s;
}

.footerMenuItem:hover.footerMenuItem::after {
  -webkit-transform: translateY(-50%) scale(1.25);
  -ms-transform: translateY(-50%) scale(1.25);
  transform: translateY(-50%) scale(1.25);
}

.footerMenuLink {
  color: #111111;
  font-size: 18px;
  text-decoration: none;
  font-weight: 500;
  -webkit-transition: 0.2s;
  -o-transition: 0.2s;
  transition: 0.2s;
}

.footerSocialList {
  margin: auto;
  max-width: 120px;

  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 0;
}

.footerSocialItem {
  position: relative;
  padding: 0;
  list-style: none;
}

.footerSocialItem::after {
  content: "";
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translateX(-50%) translateY(-50%);
  width: 30px;
  border-radius: 50%;
  background: #fff;
}

.footerSocialLink {
  position: relative;
  display: block;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background: rgb(113, 188, 2);

  background-repeat: no-repeat;
  background-size: 22px;
  background-position: center;

  box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
  transition: 0.35s;
}

.footerTopSocialLinkTelegram {
  background-image: url("../../../public/img/social/telegram-icon-white.svg");
}

.footerTopSocialLinkVk {
  background-image: url("../../../public/img/social/vk-icon-white.svg");
}

.footerTopSocialLinkInst {
  background-image: url("../../../public/img/social/vk-icon-white.svg");
}

.footerSocialLink:hover {
  transform: scale(1.09);
}

// .footerSocialLink.footerSocialLink--telegram {
//   background-image: url("../img/footer/telegram-icon.svg");
// }

// .footerSocialLink.footerSocialLink--fb {
//   background-image: url("../img/footer/fb-icon.svg");
//   background-size: 7px;
// }

// .footerSocialLink.footerSocialLink--vk {
//   background-image: url("../img/footer/vk-icon.svg");
// }

.footerRightBlockWrapper {
  display: flex;
  flex-direction: column;
}

.footerContactLink {
  margin-bottom: 40px;
  display: inline-block;
  min-width: 110px;
  position: relative;
  padding-left: 55px;
  color: #474646;
  text-decoration: none;
  font-size: 18px;
  font-weight: 500;

  transition: 0.3s;
}

.footerContactLink::after {
  content: "";
  position: absolute;
  left: 0;
  top: 50%;
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background: rgb(113, 188, 2);

  background-repeat: no-repeat;
  background-position: center;
  background-size: 22px;

  transition: 0.2s;
}

.footerContactLinkEmail::after {
  background-image: url("../../../public/img/social/mail.svg");
}

.footerContactLinkMap::after {
  background-image: url("../../../public/img/social/pin.svg");
}

.footerContactLinkPhone::after {
  background-image: url("../../../public/img/social/phone.svg");
}

.footerContactLink:last-child {
  margin: 0px;
}

.footerContactLink:hover {
  color: #868686;
}

.footerContactLink:hover.footerContactLink::after {
  -webkit-transform: translateY(-50%) scale(1.07);
  -ms-transform: translateY(-50%) scale(1.07);
  transform: translateY(-50%) scale(1.07);
}

@media screen and (min-width: 0px) and (max-width: 2200px) {
  .footer::before {
    top: -100px;
    height: 100px;
  }

  .footer.footerGray::before {
    top: -100px;
    height: 100px;
  }
}

@media screen and (min-width: 0px) and (max-width: 1440px) {
  .footer::before {
    top: -79px;
    height: 80px;
  }

  .footer.footerGray::before {
    top: -79px;
    height: 80px;
  }
}

@media screen and (min-width: 0px) and (max-width: 1200px) {
  .footerButtonReturn {
    width: 40px;
    height: 40px;
    top: 15px;
    right: 30px;
  }
}

@media screen and (min-width: 0px) and (max-width: 960px) {
  .footerRightBlockContainer:first-child {
    margin-right: 10px;
  }
}

@media screen and (min-width: 0px) and (max-width: 860px) {
  .footer {
    padding-top: 0px;
  }

  .footerWrapper {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    flex-direction: column;
  }

  .footer::after {
    top: 10px;
    bottom: 0;
    height: 100%;
  }

  .footerGray.footer::after {
    left: -270px;
    top: 155px;
  }

  .footerLeftBlock {
    display: flex;
    margin-bottom: 20px;
  }

  .footerSocialList {
    position: relative;
    margin: auto;
    z-index: 50;
  }

  .footerMenuList {
    width: 100%;
    max-width: 500px;
    margin: auto;
  }

  .footer__middleBlock {
    position: relative;
    margin-bottom: 40px;
    z-index: 100;
  }

  .footerMenuItem {
    width: calc(50% - 20px);
  }

  .footerRightBlock {
    max-width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }

  .footerRightBlockContainer {
    width: calc(50% - 20px);
  }

  .footerRightBlockWrapper {
    position: relative;
    width: 100%;
    margin: auto;
    max-width: 500px;
    z-index: 100;
  }
}

@media screen and (min-width: 0px) and (max-width: 860px) {
  .footerRightBlock {
    margin-top: 50px;
    display: flex;
    flex-direction: column;
  }

  .headerTopLogo {
    margin: auto;
    width: 120px;
    height: 120px;
  }

  .footerMenuList {
    display: none;
  }

  .footerTitle {
    font-size: 48px;
    padding: 0;
    margin: 0;
    margin-bottom: 0px;
  }

  .footer::after {
    left: -280px;
    top: -60px;
    background-position: right;
    width: 340px;
  }

  .footerContactLink {
    font-size: 22px;
  }

  .footerContactLink.footerContactLinkMap {
    margin-top: 0px;
    font-size: 22px;
  }

  .footerContactLink::after {
    width: 40px;
    height: 40px;
    background-size: 20px;
  }

  .footerRightBlockContainer {
    width: calc(50% - 25px);
  }

  .footerContactLink {
    min-width: auto;
    max-width: 100%;
    padding-left: 55px;
  }

  .footerContactLink {
    font-weight: 500;
  }
}

@media screen and (min-width: 0px) and (max-width: 352px) {
  .footerRightBlockWrapper {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    flex-direction: column;
  }
}
