.manufacture {
  padding-top: 150px;
  padding-bottom: 230px;
  background: #fff;
  overflow: hidden;
}

.wrapper {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.video {
  position: relative;
  transform: rotate(3deg) translateX(0px) translateY(0px) translate3d(0, 0, 0);
  // transform: rotate(7deg) translateX(250px) translateY(-25px)
  //   translate3d(0, 0, 0);
  cursor: pointer;
}

.videoContainer {
  position: relative;
  transform: rotate(3deg);
  width: 100%;
  height: 100%;
  background-image: url("../../../public/img/manufacture/image.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  z-index: 10;

  transition: 0.8s;
}

.video,
.videoContainer {
  min-width: 650px;
  min-height: 650px;
}

.videoDecorativeElement {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 50%;
  left: 50%;
  transform: translateX(-50%) translateY(-50%) rotate(10deg);
  background: #f3e6bc;

  z-index: 5;

  transition: 0.6s;
}

.video:hover .videoDecorativeElement {
  transform: translateX(-50%) translateY(-50%) rotate(0deg);
}

.video:hover .videoContainer {
  transform: rotate(0deg);
}

.videoButton {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translateX(-50%) translateY(-50%) scale(1);
  width: 75px;
  height: 75px;
  z-index: 10;
  transition: 0.4s;

  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
}

.video:hover .videoButton {
  transform: translateX(-50%) translateY(-50%) scale(1.15);
}

.videoButtonIcon {
  fill: #fff;

  transition: 0.4s;
}

.video:hover .videoButtonIcon {
  fill: #e83028;
}

.buttonContainer {
  display: inline-block;
}

.buttonManufacture {
  margin-left: 90px;
  background: #e83028;
}

.buttonManufacture::after {
  background: #cb2b22;
}

.buttonManufacture::before {
  background: #cb2b22;
}

.textContainer {
  position: relative;
  width: 550px;
}

.titleContainer {
  margin-bottom: 65px;
}

.title {
  margin: 0px;
  margin-bottom: 30px;
  font-family: Gant;
  font-size: 60px;
  line-height: 50px;
}

.list {
  padding: 0px;
  margin: 0px;
  margin-bottom: 80px;
  list-style: none;
}

.item {
  position: relative;
  padding-left: 95px;
  margin-bottom: 45px;
}

.item h3 {
  padding: 0px;
  margin: 0px;
  margin-bottom: 10px;
  font-family: "Comic-cat";
  font-size: 22px;
}

.item p {
  padding: 0px;
  margin: 0px;
  line-height: 24px;
  text-transform: lowercase;
}

.item::after {
  content: "";
  position: absolute;
  left: 0px;
  top: 0px;
  width: 75px;
  height: 75px;
  background-repeat: no-repeat;
  background-position: center;
}

.item:nth-child(1).item::after {
  background-image: url("../../../public/img/manufacture/icon-1.svg");
}

.item:nth-child(2).item::after {
  background-image: url("../../../public/img/manufacture/icon-2.svg");
}

.item:last-child {
  margin-bottom: 0px;
}

.text {
  margin-bottom: 30px;
}

@media screen and (min-width: 0px) and (max-width: 1950px) {
  .textContainer {
    width: 400px;
  }
}

@media screen and (min-width: 0px) and (max-width: 1450px) {
  .video,
  .videoContainer {
    min-width: 450px;
    min-height: 450px;
  }
}

@media screen and (min-width: 0px) and (max-width: 900px) {
  .wrapper {
    flex-direction: column-reverse;
  }

  .textContainer {
    width: 100%;
    max-width: 600px;
  }

  .video,
  .videoContainer {
    min-width: 350px;
    min-height: 350px;
  }

  .video {
    margin-bottom: 75px;
  }
}

@media screen and (min-width: 0px) and (max-width: 550px) {
  .manufacture {
    padding-top: 100px;
    padding-bottom: 150px;
  }

  .titleContainer {
    margin-bottom: 25px;
  }

  .buttonContainer {
    display: block;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .video {
    transform: rotate(-3deg) translateX(-10px) translateY(0px)
      translate3d(0, 0, 0);
    cursor: pointer;
  }

  .videoButton {
    width: 60px;
    height: 60px;
  }

  .video,
  .videoContainer {
    min-width: 100%;
    min-height: 320px;
    width: 100%;
    height: 320px;
  }

  .video {
    margin-bottom: 100px;
  }

  .title {
    font-size: 42px;
    text-align: center;
  }

  .list {
    margin-bottom: 40px;
  }

  .item {
    padding-left: 0px;
    padding-top: 95px;
    margin-bottom: 45px;
    text-align: center;
  }

  .item::after {
    top: 0px;
    left: 50%;
    transform: translateX(-50%);
  }
}
