.container {
  position: relative;
  z-index: -1;
  background: #111;
}

.block {
  position: relative;
  padding-top: 50px;
  padding-bottom: 0px;
  height: 100vh;
  display: flex;
  flex-direction: row;
  justify-content: space-around;

  z-index: -1;
}

.block.right {
  display: flex;
  flex-direction: row-reverse;
}

.textBlock {
  opacity: 0;
  max-width: 550px;
  transform: scale(1.4);
}

.title {
  font-size: 42px;
}

.text {
  font-size: 18px;
  line-height: 26px;
  color: #999;
}
