.list {
  padding-top: 75px;
  padding-bottom: 75px;
  position: relative;
  width: 100%;

  animation-name: showTitle;
  animation-duration: 1.2s;
  animation-fill-mode: both;
}

@keyframes showTitle {
  from {
    transform: translateY(-20px);
    opacity: 0;
  }

  to {
    transform: translateY(0px);
    opacity: 1;
  }
}

.list::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  height: 150px;
  width: 100%;
  // background-image: url("../../../../public/images/catalog/transparent-pattern.png");
  transform: scale(-1);
  background-size: cover;
  background-repeat: no-repeat;
}

.list .container {
  max-width: unset;
  padding-right: 80px;
  padding-left: 0px;
}

.productsListContainer {
  height: 100%;
  position: relative;
}

.productsList {
  padding-top: 0px;
  padding-bottom: 75px;

  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-column-gap: 45px;
  grid-row-gap: 80px;
}

@keyframes open {
  0% {
    opacity: 0;
    transform: translateY(25px);
  }

  100% {
    opacity: 1;
    transform: translateY(0px);
  }
}

@media screen and (min-width: 0px) and (max-width: 875px) {
  .list {
    padding-top: 25px;
  }

  .productsList {
    padding-top: 0px;
    padding-bottom: 25px;

    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-column-gap: 50px;
    grid-row-gap: 50px;
  }
}
