.block {
  position: relative;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.imageContainerLeft {
  display: inline-block;
  width: fit-content;
}

.imageContainerRight {
  display: inline-block;
  width: fit-content;
}
