.advantages {
  position: relative;
  padding-top: 150px;
  padding-bottom: 150px;
}

.titleContainer {
  margin-bottom: 30px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.title {
  padding: 0px;
  margin: 0px;
  font-family: Gant;
  text-align: center;
}

.text {
  max-width: 550px;
  text-align: center;
  font-size: 18px;
  line-height: 22px;
  font-weight: 300;
}

.cardProductAdvantagesImage {
  position: relative;
  left: -5px;
  max-height: 575px;
  width: auto;
  max-width: 520px;
  height: auto;
  text-align: center;

  animation-name: soaring;
  animation-delay: 1s;
  animation-duration: 6s;
  animation-iteration-count: infinite;
}

.cardProductAdvantagesList {
  max-width: 1300px;
  margin: auto;

  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  align-items: center;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;

  animation-name: showProduct;
  animation-delay: 0.6s;
  animation-duration: 1.8s;
  animation-fill-mode: both;
}

.cardProductAdvantagesItemContainer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
}

.cardProductAdvantagesItemContainerLeft {
  text-align: right;
}

.cardProductAdvantagesItem {
  margin-bottom: 40px;
  position: relative;
  width: 260px;
}

.cardProductAdvantagesItemTitle {
  margin: 0px;
  font-size: 22px;
  margin-bottom: 10px;
  font-family: Comic-cat;
  color: #333;
}

.cardProductAdvantagesItemText {
  margin: 0px;
  font-size: 16px;
  line-height: 24px;
  font-weight: 100;
  color: #636363;
}

.cardProductAdvantagesItem .cardProductAdvantagesItemLine {
  position: absolute;
  height: 1px;
  background: #888;
  z-index: 10;
}

.cardProductAdvantagesItemFirst .cardProductAdvantagesItemLine {
  -webkit-transform: translateY(-50%) rotate(10deg);
  -ms-transform: translateY(-50%) rotate(10deg);
  transform: translateY(-50%) rotate(10deg);
  margin-left: 10px;
  top: 50%;
  right: -100px;
  width: 90px;
}

.cardProductAdvantagesItemSecond .cardProductAdvantagesItemLine {
  -webkit-transform: translateY(-50%) rotate(-deg);
  -ms-transform: translateY(-50%) rotate(-deg);
  transform: translateY(-50%) rotate(-deg);
  margin-left: 10px;
  top: 50%;
  right: -100px;
  width: 90px;
}

.cardProductAdvantagesItemThird .cardProductAdvantagesItemLine {
  -webkit-transform: translateY(-50%) rotate(-10deg);
  -ms-transform: translateY(-50%) rotate(-10deg);
  transform: translateY(-50%) rotate(-10deg);
  margin-right: 10px;
  top: 50%;
  left: -100px;
  width: 90px;
}

.cardProductAdvantagesItemFourth .cardProductAdvantagesItemLine {
  position: absolute;
  -webkit-transform: translateY(-50%) rotate(5deg);
  -ms-transform: translateY(-50%) rotate(5deg);
  transform: translateY(-50%) rotate(5deg);
  margin-right: 10px;
  top: 50%;
  left: -100px;
  width: 90px;
}

.cardProductAdvantagesItem
  .cardProductAdvantagesItemLine
  .cardProductAdvantagesItemPoint {
  position: absolute;
  left: 0;
  bottom: 50%;
  -webkit-transform: translateY(50%);
  -ms-transform: translateY(50%);
  transform: translateY(50%);
  width: 10px;
  height: 10px;
  border-radius: 50%;
  background: #555;
}

.cardProductAdvantagesItem
  .cardProductAdvantagesItemLine
  .cardProductAdvantagesItemPoint {
  position: absolute;
  left: 0;
  bottom: 50%;
  -webkit-transform: translateY(50%);
  -ms-transform: translateY(50%);
  transform: translateY(50%);
  width: 10px;
  height: 10px;
  border-radius: 50%;
}

.cardProductAdvantagesItem
  .cardProductAdvantagesItemLine
  .cardProductAdvantagesItemPoint::after {
  content: "";
  position: absolute;
  left: 50%;
  top: 50%;
  -webkit-transform: translateX(-50%) translateY(-50%);
  -ms-transform: translateX(-50%) translateY(-50%);
  transform: translateX(-50%) translateY(-50%);
  width: 27px;
  height: 27px;
  border: 1px solid #888;
  border-radius: 50%;
}

.cardProductAdvantagesItemContainerLeft
  .cardProductAdvantagesItem
  .cardProductAdvantagesItemLine
  .cardProductAdvantagesItemPoint {
  right: 0;
  left: unset;
}

.cardProductAdvantages-image-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

.cardProductAdvantagesItem-title {
  font-family: Corinthia;
  font-size: 48px;
  font-weight: 400;
  margin-bottom: 20px;
}

.cardProductAdvantagesItem-text {
  color: #888;
}

.cardProductSheetFirst {
  position: absolute;
  left: 25px;
  top: 30px;
  width: 150px;
  height: 75px;
  // background-image: url("../../public/img/advantages/sheet-decoration-1.png");
  background-repeat: no-repeat;
  background-size: contain;
}

.cardProductSheetSecond {
  position: absolute;
  right: 250px;
  top: 50px;
  width: 250px;
  height: 250px;
  // background-image: url("../../public/img/advantages/sheet-decoration-2.png");
  background-repeat: no-repeat;
  background-size: contain;
}

.cardProductSheetThird {
  position: absolute;
  left: 40px;
  top: 450px;
  width: 140px;
  height: 140px;
  // background-image: url("../../public/img/advantages/sheet-decoration-4.png");
  background-repeat: no-repeat;
  background-size: contain;
}

.cardProductSheetFourth {
  position: absolute;
  left: 420px;
  top: 250px;
  width: 50px;
  height: 50px;
  // background-image: url("../../public/img/advantages/sheet-decoration-5.png");
  background-repeat: no-repeat;
  background-size: contain;
}

.cardProductSheetFive {
  position: absolute;
  right: 180px;
  top: 300px;
  width: 30px;
  height: 30px;
  // background-image: url("../../public/img/advantages/sheet-decoration-5.png");
  background-repeat: no-repeat;
  background-size: contain;
}

.cardProductSheetSix {
  position: absolute;
  right: 40px;
  top: 450px;
  width: 140px;
  height: 140px;
  // background-image: url("../../public/img/advantages/sheet-decoration-5.png");
  background-repeat: no-repeat;
  background-size: contain;
}

@media screen and (min-width: 0px) and (max-width: 1300px) {
  .cardProductAdvantagesItemFirst .cardProductAdvantagesItemLine,
  .cardProductAdvantagesItemSecond .cardProductAdvantagesItemLine {
    right: -60px;
    width: 50px;
  }

  .cardProductAdvantagesItemThird .cardProductAdvantagesItemLine,
  .cardProductAdvantagesItemFourth .cardProductAdvantagesItemLine {
    left: -60px;
    width: 50px;
  }

  .cardProductAdvantagesImage {
    max-width: 280px;
  }
}

@media screen and (min-width: 0px) and (max-width: 1450px) {
  .cardProduct::after {
    height: 100px;
  }

  .cardProduct {
    padding-bottom: 150px;
  }
}

@media screen and (min-width: 0px) and (max-width: 1150px) {
  .swiperSlideImg {
    width: 300px;
  }
}

@media screen and (min-width: 0px) and (max-width: 1100px) {
  .cardProductAdvantagesItemFirst .cardProductAdvantagesItemLine,
  .cardProductAdvantagesItemSecond .cardProductAdvantagesItemLine {
    right: -50px;
    width: 40px;
  }

  .cardProductAdvantagesItemThird .cardProductAdvantagesItemLine,
  .cardProductAdvantagesItemFourth .cardProductAdvantagesItemLine {
    left: -50px;
    width: 40px;
  }

  .cardProductAdvantagesImage {
    max-width: 240px;
  }

  .advantages {
    padding-bottom: 40px;
  }

  .cardProductAdvantagesList {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
  }

  .cardProductAdvantagesItemFirst .cardProductAdvantagesItemLine,
  .cardProductAdvantagesItemSecond .cardProductAdvantagesItemLine,
  .cardProductAdvantagesItemThird .cardProductAdvantagesItemLine,
  .cardProductAdvantagesItemFourth .cardProductAdvantagesItemLine {
    display: none;
  }

  .cardProductAdvantagesItem {
    max-width: 420px;
    position: relative;
    width: auto;
    text-align: center;
  }

  .cardProductAdvantagesImageContainer {
    margin-bottom: 40px;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
  }

  .cardProduct .swiperContainer::after {
    width: 100%;
  }

  .cardProduct .swipersSlideImg {
    bottom: 50px;
    max-height: 250px;
  }

  .cardProductSheetFourth {
    display: none;
  }
}

@media screen and (min-width: 0px) and (max-width: 850px) {
  .cardProduct {
    height: auto;
    max-height: unset;
  }

  .cardProductMainTitle {
    margin: auto;
    max-width: 700px;
    font-size: 60px;
    line-height: 50px;
  }

  .cardProduct .swiperContainer::after {
    bottom: -100px;
  }

  .cardProduct .swiperSlideImg {
    bottom: 50px;
    max-height: 310px;
  }

  .cardProductMain {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
  }

  .cardProductSwiperWrapper {
    margin-bottom: 50px;
  }

  .cardProductSwiperWrapper,
  .cardProductDescription {
    width: 100%;
  }

  .cardProductDescription {
    max-width: 400px;
  }

  .cardProductSheetSix {
    width: 50px;
    height: 50px;
  }

  .cardProductSheetThird {
    width: 50px;
    height: 50px;
  }
}

@media screen and (min-width: 0px) and (max-width: 800px) {
  .advantages {
    padding-top: 100px;
  }

  .cardProductAdvantagesItemTitle {
    font-size: 20px;
  }
}

@media screen and (min-width: 0px) and (max-width: 680px) {
  .title {
    padding: 0px;
    margin: 0px;
  }

  .cardProductSheetSecond {
    display: none;
  }

  .cardProductAdvantagesItem {
    padding: 30px;
    border: 1px solid #999;
    background: #fff;
    border-radius: 25px;
    margin-bottom: 30px;
  }

  .cardProductAdvantagesItemText {
    color: #333;
  }

  .text {
    margin-bottom: 15px;
    font-weight: 300;
  }
}

@media screen and (min-width: 0px) and (max-width: 450px) {
  .cardProduct .swiperContainer::after {
    bottom: -120px;
  }
}

@media screen and (min-width: 0px) and (max-width: 340px) {
  .cardProduct .swiperContainer::after {
    bottom: -125px;
  }
}
