.contactsSocial {
  padding-top: 0px;
  padding-bottom: 75px;
}

.contactsSocialTitleContainer {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  margin-bottom: 50px;
}

.contactsSocialTitle {
  margin: 0;
  margin: auto;
  line-height: 60px;
  font-family: Gant;
  font-weight: 100;
}

.contactsSocialSignature {
  position: absolute;
  right: 0;
  bottom: 0;
  color: #6cb71d;
  font-weight: 500;
  text-decoration: none;
  -webkit-transition: 0.2s;
  -o-transition: 0.2s;
  transition: 0.2s;
}

.contactsSocialSignature:hover {
  text-decoration: underline;
}

.contactsSocialList {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
}

.contactsSocialItemLink {
  margin-bottom: 20px;
  display: block;
  width: calc(25% - 20px);
  height: 270px;
  background: yellowgreen;
  border: 20px solid #fff;
  -webkit-box-shadow: 0 0 5px rgb(0 0 0 / 10%);
  box-shadow: 0 0 5px rgb(0 0 0 / 10%);
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;

  -webkit-transition: 0.2s;

  -o-transition: 0.2s;

  transition: 0.2s;
}

.contactsSocialItemLink:hover {
  opacity: 0.8;
}

// .contactsSocialItemLink:first-child {
//   background-image: url("../../../public/img/gardens/image-1.webp");
// }

// .contactsSocialItemLink:nth-child(2) {
//   background-image: url("../../../public/img/gardens/image-2.webp");
// }

// .contactsSocialItemLink:nth-child(3) {
//   background-image: url("../../../public/img/gardens/image-1.webp");
// }

// .contactsSocialItemLink:nth-child(4) {
//   background-image: url("../../../public/img/gardens/image-1.webp");
// }

// .contactsSocialItemLink:nth-child(5) {
//   background-image: url("../../../public/img/gardens/image-1.webp");
// }

// .contactsSocialItemLink:nth-child(6) {
//   background-image: url("../../../public/img/gardens/image-1.webp");
// }

// .contactsSocialItemLink:nth-child(7) {
//   background-image: url("../../../public/img/gardens/image-1.webp");
// }

// .contactsSocialItemLink:nth-child(8) {
//   background-image: url("../../../public/img/gardens/image-1.webp");
// }

@media screen and (min-width: 0px) and (max-width: 1200px) {
  .contactsSocialItemLink {
    width: calc(33% - 20px);
  }
}

@media screen and (min-width: 0px) and (max-width: 720px) {
  .contactsSocialItemLink {
    width: calc(50% - 8px);
  }

  .contactsSocialSignature {
    position: absolute;
    top: 65px;
    left: 0;
  }
}

@media screen and (min-width: 0px) and (max-width: 550px) {
  .contactsSocial {
    padding-top: 25px;
    padding-bottom: 50px;
    text-align: center;
  }

  .contactsSocialItemLink {
    margin-bottom: 20px;
    height: 180px;
    border: 10px solid #fff;
  }

  .contactsSocialItemLink:first-child {
    display: block;
  }
}

@media screen and (min-width: 0px) and (max-width: 450px) {
  // .contactsSocialItemLink {
  //   width: 100%;
  //   height: 300px;
  // }
}
